/* linking the CC rest file here */
@import "./reset.css";

:root {
  --animation-duration1: 28s;
  /* variable for fish1 & 2 */

  --animation-duration2: calc(var(--animation-duration1) + 6s);
  /* variable for fish 3 & 4 */
}

body,
html {
  height: 100%;
}

body {
  background-image: url("img/aquariumbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img {
  width: 100px;
  position: absolute;
}

img:nth-of-type(1) {
  right: 1%;
  top: 10%;
  /* animation after applying the keyframe */
  /* animation-name: fish1; */
  /* animation-duration: 10s;
  animation-iteration-count: infinite; */
  animation: fish1 var(--animation-duration1) infinite;
}

img:nth-of-type(2) {
  right: 25%;
  bottom: 5%;
  /* animation after applying the keyframe */
  /* animation-name: fish2; */
  /* animation-duration: 10s;
  animation-iteration-count: infinite; */
  animation: fish2 var(--animation-duration1) infinite;
}

img:nth-of-type(3) {
  left: 20%;
  top: 40%;
  /* animation-name: fish3;
  animation-duration: 5s; */
  animation: fish3 var(--animation-duration2) infinite;
}

img:nth-of-type(4) {
  right: 50%;
  top: 60%;
  /* animation-name: fish4;
  animation-duration: 5s; */
  animation: fish4 var(--animation-duration2) infinite;
}

/* setting key frame before animating fish1 */
@keyframes fish1 {
  from {
    transform: scaleX(1);
    right: 1%;
    top: 10%;
  }

  50% {
    right: 90%;
    top: 70%;
    transform: scaleX(1);
  }

  52% {
    right: 90%;
    top: 70%;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
    right: 1%;
    top: 10%;
  }

  to {
    transform: scaleX(1);
    right: 1%;
    top: 10%;
  }
}

@keyframes fish2 {
  from {
    right: 25%;
    bottom: 5%;
  }

  50% {
    right: 90%;
    bottom: 70%;
    transform: scaleX(1);
  }

  52% {
    right: 90%;
    bottom: 70%;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
    right: 27%;
    bottom: 7%;
  }

  to {
    transform: scaleX(1);
    right: 25%;
    bottom: 5%;
  }
}

@keyframes fish3 {
  from {
    left: 10%;
    top: 30%;
  }

  30% {
    left: 90%;
    top: 70%;
    transform: scaleX(1);
  }

  32% {
    left: 90%;
    top: 70%;
    transform: scaleX(-1);
  }

  60% {
    transform: scaleX(-1);
    left: 20%;
    top: 40%;
  }

  99% {
    transform: scaleX(-1);
    left: 10%;
    top: 30%;
  }

  to {
    left: 10%;
    top: 30%;
  }
}

@keyframes fish4 {
  from {
    right: 50%;
    top: 60%;
  }

  25% {
    right: 90%;
    top: 40%;
    transform: scaleX(1);
  }

  27% {
    right: 90%;
    top: 40%;
    transform: scaleX(-1);
  }

  75% {
    right: 10%;
    top: 20%;
    transform: scaleX(-1);
  }

  77% {
    right: 10%;
    top: 20%;
    transform: scaleX(1);
  }

  to {
    right: 50%;
    top: 60%;
  }
}
