/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset ends here */

body,
html {
  height: 100%;
}

body {
  background-image: url("img/aquariumbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img {
  width: 100px;
  position: absolute;
}

img:nth-of-type(1) {
  right: 1%;
  top: 10%;
  /* animation after applying the keyframe */
  animation-name: fish1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

img:nth-of-type(2) {
  right: 25%;
  bottom: 5%;
  /* animation after applying the keyframe */
  animation-name: fish2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

img:nth-of-type(3) {
  left: 20%;
  top: 40%;
  animation-name: fish3;
  animation-duration: 35s;
}

img:nth-of-type(4) {
  right: 50%;
  top: 60%;
  animation-name: fish4;
  animation-duration: 35s;
}

/* setting key frame before animating fish1 */
@keyframes fish1 {
  from {
    transform: scaleX(1);
    right: 1%;
    top: 10%;
  }

  50% {
    right: 90%;
    top: 70%;
    transform: scaleX(1);
  }

  52% {
    right: 90%;
    top: 70%;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
    right: 1%;
    top: 10%;
  }

  to {
    transform: scaleX(1);
    right: 1%;
    top: 10%;
  }
}

@keyframes fish2 {
  from {
    right: 25%;
    bottom: 5%;
  }

  50% {
    right: 90%;
    bottom: 70%;
    transform: scaleX(1);
  }

  52% {
    right: 90%;
    bottom: 70%;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
    right: 27%;
    bottom: 7%;
  }

  to {
    transform: scaleX(1);
    right: 25%;
    bottom: 5%;
  }
}

@keyframes fish3 {
  from {
    left: 20%;
    top: 40%;
  }

  to {
    left: 80%;
    top: 60%;
  }
}

@keyframes fish4 {
  from {
    right: 50%;
    top: 60%;
  }
  to {
    right: 90%;
    top: 30%;
  }
}
